@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 210 29% 95%; /* #F0F4F8 */
    --foreground: 220 39% 10%;
    --card: 0 0% 100%;
    --card-foreground: 220 39% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 39% 10%;
    --primary: 220 39% 26%; /* #293B5F */
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 90%;
    --secondary-foreground: 220 39% 26%;
    --muted: 210 40% 90%;
    --muted-foreground: 215 20% 65%;
    --accent: 213 33% 58%; /* #6D8EB8 */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 220 39% 26%;
    --chart-1: 220 39% 26%;
    --chart-2: 213 33% 58%;
    --chart-3: 210 40% 90%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 220 39% 12%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 213 33% 58%;
    --sidebar-primary-foreground: 220 39% 12%;
    --sidebar-accent: 220 39% 18%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 220 39% 18%;
    --sidebar-ring: 213 33% 58%;
  }
  .dark {
    --background: 220 39% 10%;
    --foreground: 210 40% 98%;
    --card: 220 39% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 220 39% 12%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 220 39% 26%;
    --secondary: 215 28% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 28% 18%;
    --muted-foreground: 215 20% 65%;
    --accent: 213 33% 58%;
    --accent-foreground: 220 39% 12%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 18%;
    --input: 215 28% 18%;
    --ring: 213 33% 58%;
    --chart-1: 210 40% 98%;
    --chart-2: 213 33% 58%;
    --chart-3: 215 28% 18%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 220 39% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 213 33% 58%;
    --sidebar-primary-foreground: 220 39% 12%;
    --sidebar-accent: 220 39% 15%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 220 39% 15%;
    --sidebar-ring: 213 33% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
